#wrapper{
    margin:0 auto;
    border:2px solid black;
    display: inline-block;
    padding:20px;
    text-align: center;
    border-radius: 5px;
}
.btn{
    background-color:green;
    padding:5px 10px;
    border-radius: 5px;
    color:white;
}